---
layout: default
title: Home
---

<!-- Landing -->
<div id="landing">
    <div class="row">
        <div class="col col-md-4" style='text-align: center; '>
            <img src="assets/images/profile.jpg" width="80%">
        </div>
        <div id="landingText" class="col-md-8">
            <div id="greeting">Hi, I'm Patricia.</div>
            <div id="description">I do web development and data analytics.</div>
        </div>

    </div>
</div>

<!-- Motivation -->
<div id="motivation">
    I'm passionate about making information understandable: the sheer amount of 
    information we get today makes it hard for individuals to identify what's important.
    The combination of extracting key insights and making these easily accessible through good design
    allows people to make the world a better place - one informed decision at a time. 
</div>

{% assign sections = site.indexSections | sort:"sectionNo" %}
{% assign sectionsCount = 0 %}

{% for section in sections %}
{% assign sectionsCount = sectionsCount | plus:1 %}

<div class="section"> 
    <div class="sectionTitle {{section.title}}">{{section.title}}</div>
    <div class="sectionDesc {{section.title}} "> {{section.description}} </div>
    {% if section.title == 'skills' %}


    <div class="row" style="align-content: center">
        <div class="col-md">
            <ul class="skills-list">
                <li class="skills-subcat-1 skills-subcat-header" >
                    <h3 class="fw-bold" >Web</h3>
                </li>
                <li class="skills-subcat-1">
                    <h5 class="fw-bold">Frontend</h5>
                    <p class="text-muted">HTML, CSS, Bootstrap, SCSS, Javascript, Vue.js</p>
                </li>
                <li class="skills-subcat-1">
                    <h5 class="fw-bold">Backend</h5>
                    <p class="text-muted">Python, SQL (MySQL, MongoDB), Flask, FastAPI, PHP, Laravel</p>
                </li>
                <li class="skills-subcat-1">
                    <h5 class="fw-bold">Developer Tools</h5>
                    <p class="text-muted">Developer Tools: Git, Docker, Visual Studio Code, Freshping, Jira, Notion</p>
                </li>
            </ul>

        </div>
        <div class="col-md">
            <ul class="skills-list">
                <li class="skills-subcat-2 skills-subcat-header">
                    <h3 class="fw-bold">Data</h3>
                </li>
                <li class="skills-subcat-2">
                    <h5 class="fw-bold">Data Visualisation</h5>
                    <p class="text-muted">Microsoft Power BI, Tableau, D3.js, Vegalite</p>
                </li>
                <li class="skills-subcat-2">
                    <h5 class="fw-bold">Data Analytics</h5>
                    <p class="text-muted">Python, Beautiful Soup, numpy, pandas, scipy, skikit-learn</p>
                </li>
            </ul>

        </div>
    </div>
</div>

    {% elsif section.title == 'experience' %}
    <div class="timeline">
        <ul class="timeline">
            {% assign experience = site.experiences | nested_sort:"date" | reverse %}
            {% for exp in experience %}   
            <li>
                <div class="row exp">
                    <div class="col-md-1 exp-duration"> 
                        <p class="text-muted mb-2 fw-bold duration" >{{exp.duration}}</p>
                    </div>
                    <div class="col-md-11 exp-desc">
                        <h5 class="fw-bold">{{exp.title}}</h5>
                        <p class="text-muted mb-2 fw-bold">{{exp.organisation}}</p>
                        <p class="text-muted">{{exp.description}}</p>
                        <p class="text-muted">Developer Tools: Git, Docker, Visual Studio Code, Freshping, Jira, Notion</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>

    {% elsif section.title == 'works' %}
    <div class="timeline">
        <ul class="timeline">
            {% assign works = site.works | nested_sort:"date" | reverse %}
            {% assign worksCount = 0 %}
            {% for work in works %}  
            {% assign worksCount = worksCount | plus:1 %}

            {%if worksCount >= 4 %} 
                {% break %}
            {% endif %}

            <li>
                <div class="row exp">
                    <div class="col-md-1 exp-duration"> 
                        <p class="text-muted mb-2 fw-bold duration">{{work.duration}}</p>
                    </div>
                    <div class="col-md-11 exp-desc">
                        <h5 class="fw-bold">{{work.title}}</h5>
                        <p class="text-muted mb-2 fw-bold">{{work.organisation}}</p>
                        <p class="text-muted">{{work.description}}</p>
                    </div>
                </div>
            </li>
            
            {% endfor %}
            
        </ul>
    </div>
    {% endif %}


    
    <!-- <p> {{section.content}} </p> -->
</div>

{% endfor %}

