<footer class="py-3 my-4 container mt-auto" style="position: relative">

  <nav class="navbar navbar-expand-lg navbar-light py-1" >
    <a class="navbar-brand" href="">patricia loi.</a>
      <div class="navbar-nav">
        {% for item in site.data.navigation %}
        {% if item.name != "Home" %}
        <a class="nav-link mx-1" href="{{ item.link }}" {% if page.url == item.link %} class="current"{% endif %}">{{ item.name | upcase}} <span class="sr-only">(current)</span></a>
        <!-- <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name | upcase}}</a> -->
        {% endif %}
        {% endfor %}
      </div>

      <div class="navbar-nav ml-auto">
        <!-- <a href="#" ><i class="bi bi-twitter linkLogo"></i></a> -->
        <a href="https://www.linkedin.com/in/patmloi/"><i class="bi bi-linkedin linkLogo"></i></a>
        <a href="https://github.com/patmloi"><i class="bi bi-github linkLogo"></i></a>
        <!-- <a href="#"><i class="bi bi-window linkLogo"></i></a> -->
      </div>

    </div>
  </nav>
    
<!-- </nav>

    <div class="col-md-6 justify-content-end d-flex">
      <ul class="list-unstyled">
          <li class="ms-3"><a href="#"><i class="bi bi-twitter"></i></a></li>
          <li class="ms-3"><a href="#"><i class="bi bi-github"></i></i></a></li>
      </ul>
    </div>

  </div>

  </div> -->

    <div class="text-secondary text-center d-block"><small>@Patricia Loi 2022 </small></div>

    <div id="linkUpDiv" class="d-flex" >
      <a id="linkUpDivA" href="{{page.link}}"  >
        <svg id ="linkUpLogo" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" class="bi bi-arrow-up-short" viewBox="-5 -5 16 16">
          <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
      </a>
    </div>

  </div>

</footer>
