<div id="header">
    <div id="headerTitle" class="{{page.collection}}">{{page.headerTitle}}</div>
    <div id="title">{{page.title}}</div>
</div>

<!--
    What I want to achieve: title aligned to the middle of headerTitle 
    1. 
    <div class="header"> // Relative
        <div id="headerTitle" class="{{page.collection}}">{{page.headerTitle}}</div> // Absoulute
        <div id="titleDiv"> // Relative 
            <div id="title">{{page.title}}</h3> // Absolute 
        </div>
    </div>

    Height of titleDiv independent of headerTitle. 

    2. 
    <div class="header">
    <div id="headerTitle" class="{{page.collection}}">{{page.headerTitle}}</div>
    <div id="title">{{page.title}}</div>
    </div>

    Height of titleDiv independent of headerTitle. 


-->