---
layout: default
---
{% include header.html %}

<div>
    <div class="feed"> 
        {% assign posts = site[page.folderName] | nested_sort:"date" | reverse %}

        {% for post in posts %}
            {% assign idxmod = forloop.index | modulo: 2 %}
            {% if idxmod == 1 %}
                <div class="row">
                    <div class="col-lg">
                        <div class="card feedItem">
                            <img src="/assets/images/coverImages/{{ post.title }}.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title feedItemTitle">{{ post.title }}</h5>
                                <p class="card-text feedItemDesc">{{ post.description | truncatewords: 20}}</p>
                                <a href="{{ post.url }}" class="btn btn-secondary btn-sm">Read more</a>
                            </div>
                        </div>    
                    </div>
            
                    {% if forloop.index < posts.size %}
                    <div class="col-lg">
                        <div class="card feedItem">
                            <img src="/assets/images/coverImages/{{ post.previous.title }}.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title feedItemTitle">{{ post.previous.title }}</h5>
                                <p class="card-text feedItemDesc">{{ post.previous.description | truncatewords: 20}}</p>

                                <a href="{{ post.previous.url }}" class="btn btn-secondary btn-sm">Read more</a>
                            </div>
                        </div>    
                    </div>
                    {% else %}
                    <div class="col-md"></div>

                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        
    </div>
</div>
